# =====================
# Frontend
# =====================

frontend/node_modules/
frontend/dist/

# =====================
# Backend
# =====================

backend/__pycache__/
backend/.venv/
backend/venv/
backend/uploads/

# Python
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log